* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 0.5vw;
  }

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.05vw solid rgba(0, 0, 0, 0.8);
    padding: 1vw;
    font-size: 1.5vw;
    text-align: center;
  }

.grid-item:hover {
    background-color: rgb(0, 0, 0);
    border: 0.05vw solid rgba(255, 255, 255, 0.8);
    padding: 1vw;
    font-size: 1.5vw;
    text-align: center;
    color: white;
  }
